body {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}

.avatar {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.avatar img {
  width: 60px;
  height: 60px;
}

#post-list  .title {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  line-height: 200%;
}

#post-list .info {
  font-size: 11px;
  color: #aaa;
  line-height: 110%;
}

.title {
  font-size: 16px;
  line-height: 200%;
}

#replies p {
  margin: 0px;
}

#replies .author {
  font-size: 11px;
  color: #aaa;
  line-height: 150%;
}

#replies .avatar, #replies .avatar img {
  width: 40px;
  height: 40px;
}

#replies .author .pretty-date {
  margin-left: 8px;
}

#replies .content {
  margin-top: 5px;
  margin-bottom: 5px;
}

#new-post {
  height: 30px;
  line-height: 30px;
}

#post textarea {
  height: 300px;
}

#reply textarea {
  height: 100px;
}

#post-view h1 {
  display: block;
  padding: 0px;
  margin:  0px;
}

#post-view .avatar {
  width:  50px;
  margin: 0px;
  height: 50px;
}

#post-view .author-info {
  font-size: 12px;
  line-height: 120%;
  color: #aaa;
}

.form-panel {
  border-radius: 5px;
  border: 1px solid #CCC;
}

.form-panel .alert {
  margin: 0px 10px;
}

.form-panel form {
  margin: 20px 0px;
}

.form-panel .form-group {
  margin: 10px;
}

.form-panel-title {
  border-bottom: 1px solid #CCC;
  padding: 15px;
}

.form-panel-title h3 {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

.form-panel-footer {
  border-top: 1px solid #CCC;
  margin-top: 20px;
  padding-top: 10px;
}