{{page_header}}
<div class="container">
      <div class="row">
        <div id="post-list" class="col-md-8 col-md-offset-2 col-xs-12">
          <table class="table table-bordered">
            <tr>
              <td id="new-post">
                <a href="/post" class="pull-right">发表新主题</a>
              </td>
            </tr>
{{#posts}}
            <tr>
              <td>
                <div class="avatar pull-left"><img src="http://www.gravatar.com/avatar/{{author_email_hash}}" /></div>
                <div class="pull-left" class="post">
                  <p class="title"><a href="t/{{id}}">{{title}}</a></p>
                  <p><a href="" style="color: #aaa;">@{{author}}</a></p>
              </div>
              </td>
          </tr>
{{/posts}}
            <tr>
              <td>
                <ul class="pager">
                  <li><a href="/?page={{page_previous}}">上一页</a></li>
                  <li><a href="/?page={{page_next}}">下一页</a></li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
{{page_footer}}
