<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <!--
        <div>
          <a href="">关于</a>
        </div>
        -->
        <div style="height: 30px;"></div>
        <div>
          <img src="http://haxe-china.qiniudn.com/public/img/logo/china_telecom.png" />
        </div>
        <div style="height: 30px;"></div>
      </div>
    </div>
  </div>
</footer>
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://haxe-china.qiniudn.com/public/js/bootstrap.min.js"></script>
  </body>
</html>
