<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <!--
        <div>
          <a href="">关于</a>
        </div>
        -->
        <div style="height: 30px;"></div>
        <div class="visible-md">
          <img src="http://haxe-china.qiniudn.com/public/img/logo/china_telecom.png" alt="网络上海电信E-PON家庭10M宽带"/>
        </div>
        <div style="height: 30px;"></div>
      </div>
    </div>
  </div>
</footer>
    <script src="{{url}}/public/js/jquery.min.1.10.2.js"></script>
    <script src="{{url}}/public/js/bootstrap.min.js"></script>
  </body>
</html>
