{{page_header}}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {{#errors?}}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{#errors}}<p>{{error}}</p>{{/errors}}
      </div>
      {{/errors?}}
      <div class="form-panel">
        <div class="form-panel-title"><h3>修改密码</h3></div>
        <form class="" role="form" method="post">
          <div class="form-group">
            <label for="origin_password" class="control-label">密码</label>
            <input type="text" class="form-control" id="origin_password" name="origin_password" placeholder="密码" value="{{origin_password}}">
          </div>
          <div class="form-group">
            <label for="password" class="control-label">密码</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="密码" value="{{password}}">
          </div>
          <div class="form-group">
            <label for="repassword" class="control-label">重复密码</label>
            <input type="password" class="form-control" name="repassword" id="repassword" placeholder="重复输入密码" value="{{repassword}}">
          </div>
          <div class="form-group">
            <label for="email" class="control-label">邮件地址</label>
            <input type="text" class="form-control" name="email" id="email" disabled="disabled" value="{{#user}}{{email}}{{/user}}" />
          <div class="form-panel-footer clearfix">
            <div class="form-group">
              <button type="submit" class="btn btn-success pull-right">修改密码</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{page_footer}}
